.agents {
    position: relative;
    margin: 10% 0;

    @media screen and (min-width: $breakpoint-xs) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    @media screen and (min-width: $breakpoint-sm) {
        background-color: #d59a43;
    }

    @media screen and (min-width: $breakpoint-md) {
        display: block;
        background: none;
    }

    .text-content {
        background-color: #d59a43;

        @media screen and (min-width: $breakpoint-xs) {
            text-align: center;
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @media screen and (min-width: $breakpoint-xs) {
            text-align: center;
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @media screen and (min-width: $breakpoint-md) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 5% 30% 5% 0;
            text-align: left;
            height: 60vh;
        }

        h3 {
            font-size: 3rem;
            font-weight: 400;
            text-transform: uppercase;
            margin: 3% 0;
        }

        p {
            font-weight: 100;
            margin: 3% 0;
            text-transform: uppercase;
            font-family: var(--font-p);

            @media screen and (min-width: $breakpoint-xs) {
                font-size: 1.2rem;
            }

            @media screen and (min-width: $breakpoint-md) {
                font-size: 1.688rem;
            }
        }
    }

    img {
        @media screen and (min-width: $breakpoint-xs) {
            display: block;
            background-color: #d59a43;
            width: 100%;
            height: auto;
        }

        @media screen and (min-width: $breakpoint-sm) {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
        }

        @media screen and (min-width: $breakpoint-md) {
            background: none;
            width: 30%;
            height: auto;
            position: absolute;
            right: 1%;
            bottom: 9%;
        }

        @media screen and (min-width: $breakpoint-lg) {
            width: 30%;
            bottom: -10%;
            right: 6%;
        }

        @media screen and (min-width: $breakpoint-xl) {
            width: 25%;
            bottom: -20%;
        }
    }
}
