/* ==========================================================================
   carousel / component
   ========================================================================== */

.swiper-pagination-bullet {
    // couleur de la bullet active
    background: #94eb57;
    opacity: 0.5;
    width: 15px;
    height: 15px;
}

.swiper-pagination-bullet-active {
    background: white;
    opacity: 1;
}

.swiper-wrapper {
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper {
    position: relative;
}

.swipe_icon {
    position: absolute;
    bottom: 3%;
    right: 23%;
    z-index: 2;
}
