.hero {
    padding: 10% 0 10% 0;
    position: relative;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    @media screen and (min-width: $breakpoint-xs) {
        height: 45vh;
    }

    @media screen and (min-width: $breakpoint-sm) {
        height: 55vh;
    }

    @media screen and (min-width: $breakpoint-md) {
        height: 65vh;
    }

    .content_hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 50%;

        h1 {
            font-weight: bold !important;
            color: #33d833;
            text-shadow: 0 0 15px #87fd87;
            -webkit-text-stroke: 0.1px #93ff93;
            text-transform: uppercase;

            @media screen and (min-width: $breakpoint-xs) {
                font-size: calc(var(--font-size-h1) / 1.3);
            }

            @media screen and (min-width: $breakpoint-sm) {
                font-size: calc(var(--font-size-h1) / 1.2);
            }
        }

        .hero_btn {
            text-transform: uppercase;
            color: #383838;
            background-color: #4adc4a;
            border-radius: 12px;
            padding: 1% 2%;
            box-shadow: 0 0 15px #87fd87;
            outline: 10px black !important;
            margin-top: 10%;
            transform: scale(1);
            transition: all 0.4s ease; /* Smooth animation */

            @media screen and (min-width: $breakpoint-xs) {
                font-size: 1.8rem;
            }

            @media screen and (min-width: $breakpoint-sm) {
                font-size: 2.5rem;
            }

            @media screen and (min-width: $breakpoint-md) {
                font-size: 2.8rem;
            }
        }

        .hero_btn:hover {
            transform: scale(1.2);
        }
    }
}
