.media_fix {
    z-index: 10;
    position: fixed;

    @media screen and (min-width: $breakpoint-xs) {
        right: 50%;
        transform: translate(50%, 0);
        bottom: 3vh;
        gap: 25px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    @media screen and (min-width: $breakpoint-sm) {
        gap: 50px;
    }

    @media screen and (min-width: $breakpoint-md) {
        right: 5vw;
        top: -7vh;
        gap: 1.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    @media screen and (min-width: $breakpoint-lg) {
        gap: 2em;
    }
}

.media_flex {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 50px;

    a {
        margin: 0 15px 0 15px;
    }

    @media screen and (min-width: $breakpoint-md) {
        display: none;
    }
}
