.teaser {
    padding: 10% 0 10% 0;
    position: relative;
    text-align: center;
    height: 70vh;

    @media screen and (min-width: $breakpoint-xs) {
        height: 40vh;
    }

    @media screen and (min-width: $breakpoint-sm) {
        height: 45vh;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }

    .teaser_btn {
        text-transform: uppercase;
        color: white;
        background-color: #f29d38;
        border-radius: 12px;
        padding: 0.3% 5%;
        box-shadow: 0 0 15px white;
        transform: scale(1);
        transition: all 0.4s ease; /* Smooth animation */

        @media screen and (min-width: $breakpoint-xs) {
            font-size: 2rem;
        }

        @media screen and (min-width: $breakpoint-sm) {
            font-size: 2.5rem;
        }

        @media screen and (min-width: $breakpoint-md) {
            font-size: 2.8rem;
        }
    }

    .teaser_btn:hover {
        transform: scale(1.2);
    }
}
