/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */

a {
    color: inherit;
    text-decoration: none;
    font-family: var(--font-btn);
}

.btn {
    font-family: var(--font-btn);
    font-weight: bold;
    background-color: #ff8955;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    padding: 10px 50px;
    border-radius: 10px;
    color: var(--color-black);

    transition: all 0.3s ease-in !important;
    transform: scale(1) !important;

    &:hover {
        transition: all 0.3s ease-in;
        background-color: #ffb37f !important;
        transform: scale(1.2) !important;
    }
}
