/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #d59a43;
    --color-secondary: #fabf68;
    --color-tertiery: #201e20;

    --color-neutral-light: #fff;
    --color-neutral-dark: #2e2f2f;

    //button
    --color-btn-neutral: #f29d38;
}
