/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #2c6eff;
    --color-secondary: #000ab3;
    --color-tertiery: #090909;

    --color-neutral-light: #fff;
    --color-neutral-dark: #2e2f2f;

    --color-fail: #f6511d;

    //button
    --color-btn-neutral: #ff8955;
}
