{% include '_partials/_header.html' %}

<section class="hero">
    <div class="content_hero wrapper">
        <h1>Un jeu de tir tactique Competitif</h1>

        <a class="hero_btn" href="#"> commencer a jouer </a>
    </div>

    <img src="./assets/images/Hero.jpg" alt="hero" />
</section>

<section class="limites wrapper">
    <h2>Repoussez les limites</h2>
    <p>
        Plongez au cœur de l'action avec ENRAGED, le dernier cri en matière de FPS. Préparez-vous à une expérience
        palpitante où chaque décision peut faire la différence entre la <span class="victoire">victoire</span> et la
        <span class="defaite">défaite</span>.
    </p>
</section>

<section class="teaser">
    <img src="./assets/images/Teaser.jpg" alt="Teaser" />
    <a href="#" class="teaser_btn">Voir le teaser</a>
</section>

<section class="agents">
    <div class="text-content">
        <h3 class="wrapper">Vos agents</h3>
        <p class="wrapper">
            Outre vos armes, le choix d'un agent est crucial, car leurs compétences polyvalentes et dangereuses vous
            accompagnent dans toutes les situations. Chaque agent possède son propre ensemble de compétences, ce qui
            garantit que chacun de vos moments forts sera unique et mémorable.
        </p>
    </div>

    <img src="./assets/images/Agents.png" alt="agents" />
</section>

<section class="roadmap">
    <h3>Roadmap</h3>
    <img src="./assets/images/Roadmap.png" alt="Roadmap" />
</section>

<section class="credits">
    <div class="wrapper">
        <h3>Crédits</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
        </p>
    </div>
</section>

{% include '_partials/_footer.html' %}
